USE [ComplianceNew]
GO
/****** Object:  StoredProcedure [product_owner].[USP_POSTCOUNTRY]    Script Date: 27-06-2025 16:08:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [product_owner].[USP_POSTCOUNTRY] 
	(
		@Id						INT = 0,
		@CountryName			VARCHAR(50)= NULL,
		@CountryCode			VARCHAR(50)= NULL,
		@CountryCodeNumber		VARCHAR(50)= NULL,
		@FinancialStartDate		datetime= NULL,
		@FinancialEndDate		datetime= NULL,
		@CurrencyId				INT = 0,
		@CreatedBy				INT = 0,
		@ModifiedBy				INT = 0,
		@UID					NVARCHAR(100) = NULL
	)
AS
BEGIN
	IF EXISTS( SELECT * FROM product_owner.Country WHERE CountryName = @CountryName AND Status = 1)
	BEGIN
		SELECT Id
          ,CountryName
          ,CountryCode
          ,CountryCodeNumber
          ,FinancialStartDate
          ,FinancialEndDate
		  ,CurrencyId
          ,CreatedOn
          ,CreatedBy
          ,ModifiedBy
          ,ModifiedOn
          ,UID
	, 0 AS ResponseCode,'Country already exists' ResponseMessage FROM [product_owner].[Country] WHERE CountryName =@CountryName
	
	END;
		IF EXISTS( SELECT * FROM product_owner.Country WHERE CountryCode = @CountryCode AND Status = 1)
	BEGIN
		SELECT Id
          ,CountryName
          ,CountryCode
          ,CountryCodeNumber
          ,FinancialStartDate
          ,FinancialEndDate
		  ,CurrencyId
          ,CreatedOn
          ,CreatedBy
          ,ModifiedBy
          ,ModifiedOn
          ,UID
	, 0 AS ResponseCode,'Country Code already exists' ResponseMessage FROM [product_owner].[Country] WHERE CountryCode =@CountryCode
	
	END;
	IF(@Id = 0 or @Id is null)
	BEGIN
		INSERT INTO [product_owner].[Country](CountryName,CountryCode,CountryCodeNumber,FinancialStartDate,FinancialEndDate,CurrencyId, CreatedOn,CreatedBy,Status)
		VALUES(@CountryName,@CountryCode,@CountryCodeNumber,@FinancialStartDate,@FinancialEndDate, @CurrencyId, GETDATE(),@CreatedBy,0);

		 SELECT @Id = SCOPE_IDENTITY() 

	END;
	ELSE
	BEGIN
		UPDATE [product_owner].[Country] SET
		CountryName=@CountryName,		
		CountryCode=@CountryCode,		
		CountryCodeNumber=@CountryCodeNumber,	
		FinancialStartDate=@FinancialStartDate,	
		FinancialEndDate=@FinancialEndDate,	
		CurrencyId = @CurrencyId,
		ModifiedBy = @CreatedBy,
		ModifiedOn = GETDATE(),
		Status = 0
		WHERE UID = @UID

	END;

	SELECT Id
          ,CountryName
          ,CountryCode
          ,CountryCodeNumber
          ,FinancialStartDate
          ,FinancialEndDate
		  ,CurrencyId
          ,CreatedOn
          ,CreatedBy
          ,ModifiedBy
          ,ModifiedOn
          ,UID
	, 1 AS ResponseCode,'Country Added and sent for Approval' ResponseMessage FROM [product_owner].[Country] WHERE Id =@Id
	
END;

