USE [ComplianceNew]
GO
/****** Object:  StoredProcedure [product_owner].[USP_GETALLCOUNTRYMASTER]    Script Date: 03-07-2025 14:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [product_owner].[USP_GETALLCOUNTRYMASTER] 
	
AS
BEGIN
	SELECT C.Id
          ,C.CountryName
          ,C.CountryCode
          ,C.CountryCodeNumber
          ,C.FinancialStartDate
          ,C.FinancialEndDate
          ,C.CreatedOn
          ,C.CreatedBy
          ,C.ModifiedBy
          ,C.ModifiedOn
		  ,CC.CurrencyCode as CurrencyCode
		  ,(
			SELECT STRING_AGG(CF.FileName, ', ') 
			FROM [product_owner].[CountryFileNames] CF 
			WHERE CF.CountryId = C.Id
		) AS FileNamesList
          ,UID FROM [product_owner].[Country] C 
		  LEFT JOIN [product_owner].[CurrencyCodes] CC ON C.CurrencyId = CC.Id		  
	WHERE Status = 1 
		
END;








